<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MENTORTECH</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- CSS personalizado -->
        <link rel="stylesheet" href="css/persona.css" />
    </head>
    <body>
        <div class="col">
            <div class="row m-0 ">
                <!-- Responsive navbar-->
                <nav class="nave-topo navbar navbar-expand-lg navbar-dark bg-mentorTech z-index nav-topo">
                    <div class="container">
                        <a class="navbar-brand" href="#!"> <h1 style="font-size: 25px;">MentorTech</h1></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                                <li class="nav-item mt-1"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                                <li class="nav-item mt-1"><a class="nav-link" href="#features">Serviços</a></li>
                                <li class="nav-item mt-1"><a class="nav-link" href="#caminho">Caminho</a></li>
                                <li class="nav-item mt-1"><a class="nav-link" href="/iniciosobre">Sobre</a></li>
                                <li class="nav-item mt-1"><a class="nav-link" href="#contato">Contato</a></li>
                                <li class="nav-item mt-1"><a class="nav-link" href="/iniciocadastro">Cadastre-se</a></li>
                                <li class="nav-item mt-1">
                                    <div class="btn-group" role="group" aria-label="login para mentores e usuarios">
                                        <button type="button" style="border-radius: 20px 0 0 20px;" class="btn btn-secondary bg-dark">
                                            <a href="/loginusuario" class="text-white-50" style="text-decoration:none">Cliente</a>
                                        </button>
                                        <button type="button" style="border-radius: 0 20px 20px 0;" class="btn btn-primary ">
                                            <a href="/loginmentor" class="text-white-50" style="text-decoration:none">Mentor</a>
                                        </button>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                    <!-- Header-->
                    <header class="bg-dark py-5">
                        <div class="header-containe">
                            <div class="container px-5">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-6 mt-5">
                                        <div class="text-center my-5">
                                            <h1 class="display-4 fw-bolder text-white mb-2">O caminho se torna um detalhe quando sabemos onde queremos chegar</h1>
                                           
                                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/iniciocadastro" target="blank">Começar</a>
                                                <a class="btn btn-outline-light btn-lg px-4" href="sobre.html">Saiba mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
            </div>
        </div>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">SOMOS ONLINE</h2>
                        <p>Mentor e mentorado estão em diferentes locais no momento da realização. A participação do mentor e do mentorado 
                            ocorre de forma simultânea (síncrona) em um ambiente virtual. Ambos estão conectados no mesmo momento e interagem entre si.</p>
                        <a class="text-decoration-none" href="#!">
                            Mais Informação
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">ATENDEMOS INDIVIDUALMENTE</h2>
                        <p> o atendimento ao mentorado é de forma individualizada, para atender objetivos como aprendizado técnico, desenvolvimento de competências.</p>
                        <a class="text-decoration-none" href="#!">
                            Mais Informação
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">PORTFÓLIO ESPECIALIZADO EM TI</h2>
                        <p>Somos especializados em mentorias da área de tecnologia. Nossos mentores possuem a expertise necessária para ajudar a conduzir o seu processo.</p>
                        <a class="text-decoration-none" href="#!">
                            Mais Informação
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- Passoa a passo do usuario-->
        <section class="d-flex justify-content-sm-center border-0" id="caminho">
            <img src="assets/img/passo-mentor.png" class="img-fluid" alt="Passo a Passo">
         </section>
       
         <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase mb-5">Mentores Destaques</h2>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-sm-3">
                        <div class="card p-2"><img class=" card-img-top rounded-circle img-fluid" src="assets/img/mentores/01.jpeg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Verônica Castro</h5>
                                <p class="card-text">CIO</p>
                              </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="card p-2">
                            <img class=" card-img-top rounded-circle img-fluid" src="assets/img/mentores/02.jpeg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Severino</h5>
                                <p class="card-text">DBA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card p-2">
                            <img class=" card-img-top rounded-circle img-fluid" src="assets/img/mentores/03.jpeg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Marcos</h5>
                                <p class="card-text">Business Intelligence</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card p-2">
                            <img class="card-img-top rounded-circle img-fluid" src="assets/img/mentores/04.jpeg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Antônio</h5>
                                <p class="card-text">Full Stack Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      <!--LINHA DO PROJETO-->
    
        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Depoimentos de clientes</h2>
                    <p class="lead mb-0">Nossos clientes adoram trabalhar conosco</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Thank you for putting together such a great product. We loved working with you and the whole team, and we will be recommending you to others!</p>
                                        <div class="small text-muted">- Client Name, Location</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">The whole team was a huge help with putting things together for our company and brand. We will be hiring them again in the near future for additional work!</p>
                                        <div class="small text-muted">- Client Name, Location</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5" id="contato">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">Entre em Contato</h2>
                    <p class="lead mb-0">Adoraríamos ouvir de você.</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nome Completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Celular</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensagem</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Envio de formulário bem sucedida!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div id="telefoneContato" class="p-2"><ion-icon name="call-sharp"></ion-icon>Telefone: (81) 3500-1616</div>
                        <div id="telefoneContato" class="p-2"><ion-icon name="mail"></ion-icon></ion-icon>Email: contato@mentortech.com.br</div>
                        <div id="telefoneContato" class="p-2"><ion-icon name="home"></ion-icon>Endereço: Rua do sucesso, 7, maravilha, Recife - PE</div>
                        <div class="d-flex flex-sm-row">
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="p-1 text-dark"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="p-1 text-dark"><ion-icon name="logo-instagram" size="large"></ion-icon></a>
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="p-1 text-dark"><ion-icon name="logo-facebook" size="large"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; MentorTech 2022</p></div>
            <div class="cantainer text-center"><a href="/iniciopoliticaPriv" target="_blank" rel="noopener noreferrer">Politaca de Privacidade</a></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
