<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políta de Privacidade</title>
     <!-- Bootstrap icons-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
     <!-- Core theme CSS (includes Bootstrap)-->
     <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container w-50 p-5">
        <article>
            <h1>POLÍTICA DE PRIVACIDADE</h1>
            <p class="text-justify">
                É de suma importância que você leia atentamente a presente POLÍTICA DE PRIVACIDADE (também chamada somente de “Política”) antes de utilizar os serviços do Mentortech.
                O MENTORTECH tem como princípio a preservação e a proteção da sua privacidade e seus dados. Por meio desta Política de Privacidade, nós asseguramos esse compromisso.
                Ao utilizar os nossos serviços, você está de acordo e ciente acerca da presente Política de Privacidade. Lembrando que você pode acessá-la no momento em que desejar, mas é essencial que você a leia antes de realizar o seu cadastro na plataforma Mentortech
                Caso você tenha alguma dúvida em relação a esta Política de Privacidade, entre em contato conosco através do e-mail contato@mentortech.com.br.
                Importante dizer que essa Política de Privacidade e os serviços prestados pela nossa empresa, estão de acordo com a Lei Geral de Proteção de Dados (Lei nº 13.709). Assim como esta Lei brasileira, a MENTORTECH também quer garantir os direitos das pessoas em relação a seus dados pessoais.
            </p>
        </article>
        <article>
            <h2>1. QUAIS DADOS COLETAMOS?</h2>
            <p class="text-justify"> 
                Nós, da MENTORTECH, temos acesso às informações dos USUÁRIOS através do preenchimento de nosso FORMULÁRIO DE CADASTRO 
                <ul>
                    <li>Nome completo;</li>
                    <li>E-mail;</li>
                    <li>Celular;</li>
                    <li>Horários disponíveis para receber ou realizar as mentorias;</li>
                    <li>E-mail para login;</li>
                </ul>
            </p>
            <p class="text-justify">
                Após o preenchimento do formulário, o usuário terá criado um login e uma senha para acesso aos serviços de mentoria através da plataforma. 
                O acesso à plataforma se dará através do preenchimento do e-mail e da senha cadastrados.
            </p>
        </article>
        <article>
            <h2>2. QUAL A FINALIDADE DA COLETA DESSES DADOS?</h2>
            <p class="text-justify">
                Essas informações e dados são coletados com as seguintes finalidades:
                <ul>
                    <li>prestar serviço de suporte ao USUÁRIO;</li>
                    <li>realizar contato personalizado e direto com o USUÁRIO;</li>
                    <li>criar o cadastro mínimo exigido para prestação do serviço;</li>
                    <li>criação do perfil completo do USUÁRIO;</li>
                    <li>realizar o envio de mensagens de marketing para manutenção de clientes ativos;</li>
                </ul>
            </p>
        </article>
    </div>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>