<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MENTORTECH</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- CSS personalizado -->
        <link rel="stylesheet" href="css/persona.css">
    </head>
    <style>
        .container article p{
            font-size: 20px;
        }
    </style>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html"> <h1 style="font-size: 25px;">MentorTech</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                        <li class="nav-item mt-1"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                        <li class="nav-item mt-1"><a class="nav-link" href="index.html#features">Serviços</a></li>
                        <li class="nav-item mt-1"><a class="nav-link" href="index.html#caminho">Caminho</a></li>
                        <li class="nav-item mt-1"><a class="nav-link" href="sobre.html">Sobre</a></li>
                        <li class="nav-item mt-1"><a class="nav-link" href="index.html#contato">Contato</a></li>
                        <li class="nav-item mt-1"><a class="nav-link" href="cadastrese.html">Cadastre-se</a></li>
                        <li class="nav-item mt-1">
                            <div class="btn-group" role="group" aria-label="login para mentores e usuarios">
                                <button type="button" style="border-radius: 20px 0 0 20px;" class="btn btn-secondary bg-dark">
                                    <a href="" class="text-white-50" style="text-decoration:none">Cliente</a>
                                </button>
                                <button type="button" style="border-radius: 0 20px 20px 0;" class="btn btn-primary ">
                                    <a href="" class="text-white-50" style="text-decoration:none">Mentor</a>
                                </button>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container w-50 p-5">
            <article>
                <h1 class="display-4 text-center">Sobre</h1>
               <p>
                    Somos uma empresa de mentoria com um portfólio focado em tecnologia com expertise necessária para conduzir o seu encarreiramento 
                    na área de tecnologia ou na busca de resolução de desafios! Isso significa facilitar o seu processo de inserção no mercado de trabalho 
                    aplicando uma metodologia de mentoria individual para lhe indicar os melhores caminhos que você deve trilhar.
                </p>
                <p>
                    Possuímos expertise, profissionais qualificados e um processo de mentoria personalizado.
                    MENTORTECH: a sua principal estratégia para crescer no mercado de tecnologia!
                </p>
                
            </article>
        </div>
        
        <!-- Footer-->
        <footer class="p-2 fixed-bottom bg-dark ">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; MentorTech 2022</p></div>
            <div class="cantainer text-center"><a href="/iniciopoliticapriv" target="_blank" rel="noopener noreferrer">Politaca de Privacidade</a></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
