header{
    background-image: url(/src/main/resources/static/img/businesswoman-login.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    height: 70vh;
}
.header-containe{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 63vh;
  margin-top: 15.5px;
}

.bg-mentorTech{
    background-color: rgba(0, 0, 0, 0.5);;
  }

.text-size{
    font-size: 16pt;
}
.card-sobre{
    background-image: url(/src/main/resources/static/img/people.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%; 
}
.z-index{
    z-index: 111111111111111111111;
    position:fixed;
    width: 100%;
}

.botao-nav{
    margin-left: 3em;
}
.body-login{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    align-content: center; 
}
.body-casdastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.cadastro{
    background-color: rgb(243, 247, 250);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

.colcadastro{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.colcadastro:hover{
   
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.171);
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.w-40{width: 40%;}
.w-35{width: 35%;}
.w-30{width: 30%;}
.w-20{width: 20%;}
